*{
    padding:0;
    text-align: center;
}

body{
    font-family: arial;
    background-color: #f4f4f4;
    
}

p{
    line-height: 2;
}

.container{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/nubes.png);
    background-size: cover; /* or 'contain' or specify width and height */
    
}


